
<div class="container mx-auto text-center">
	<a [routerLink]="['/signup']">Didn't Have an Account? Click Here to Signup</a>

	<form class="w-2/4 border-double p-10 border-4 border-blue-500" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)" style="margin: auto;display: block;">
	<!-- <form class="w-full max-w-sm content-center border-double p-10 border-4 border-blue-500" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)" style="margin: auto;display: block;"> -->



	  <div class="md:flex md:items-center mb-6">
	    <div class="md:w-1/3">
	      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
	        Email
	      </label>
	    </div>
	    <div class="md:w-2/3">
	      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="user@example.com" [(ngModel)]="loginForm.loginEmail" name="loginEmail" #loginEmail="ngModel" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]{1,4}" [maxlength]="50" required>

	       <!-- show error for loginEmail -->
		   	<p *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" class="text-red-500 text-xs italic">
			  <span *ngIf="loginEmail.errors.required">
			    Email is required.
			  </span>
			  <span *ngIf="loginEmail.errors.maxlength">
			    Email must be not exceeds 50 characters.
			  </span>
			  <span *ngIf="loginEmail.errors.pattern">
		    	Email is Invalid. Please Provide Valid Email Address.
			  </span>
			</p>
	  		<!-- ends here ~ show error for loginEmail -->


	    </div>
	  </div>
	  <div class="md:flex md:items-center mb-6">
	    <div class="md:w-1/3">
	      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
	        Password
	      </label>
	    </div>
	    <div class="md:w-2/3">
	      <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-password" type="password" [(ngModel)]="loginForm.loginPassword" name="loginPassword" #loginPassword="ngModel" [minlength]="8" [maxlength]="30" required>


	      <!-- show error for password -->
		   	<p *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" class="text-red-500 text-xs italic">
			  <span *ngIf="loginPassword.errors.required">
			    Password is required.
			  </span>
			  <span *ngIf="loginPassword.errors.maxlength">
			    Password must be not exceeds 50 characters.
			  </span>
			  <span *ngIf="loginPassword.errors.minlength">
		    	Password must be at least contains 8 characters.
			  </span>
			</p>
	  		<!-- ends here ~ show error for password -->

	    </div>
	  </div>
	 
	  <div class="md:flex md:items-center">
	    <div class="md:w-1/3"></div>
	    <div class="md:w-2/3">
	      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit" [disabled]="!loginForm.valid">
	        LOGIN
	      </button>
	    </div>
	  </div>
	</form>

</div>