<ul class="nav nav-tabs" id="sd">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#signup">Signup</a>
  </li>
</ul>


<!-- form inside tabs -->
<div class="tab-content">
  <div class="tab-pane container active" id="login">
  	<!-- login form -->
  	<form #loginForm="ngForm" class="formSignup" (ngSubmit)="userLogin(loginForm)">
  		<div class="form-group">
		  <label for="email">Email</label>
		  <input type="text" class="form-control" [(ngModel)]="loginForm.loginEmail" name="loginEmail" #loginEmail="ngModel" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]{1,4}" [maxlength]="50" required>

		    <!-- show error for loginEmail -->
	  		   <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" class="alert alert-danger">
				  <div *ngIf="loginEmail.errors.required">
				    Email is required.
				  </div>
				  <div *ngIf="loginEmail.errors.maxlength">
				    Email must be not exceeds 50 characters.
				  </div>
				  <div *ngIf="loginEmail.errors.pattern">
			    	Email is Invalid. Please Provide Valid Email Address.
				  </div>
				</div>
		  	<!-- ends here ~ show error for loginEmail -->

		</div>

		<div class="form-group">
		  <label for="loginPassword">Password</label>
		  <input type="password" class="form-control" [(ngModel)]="loginForm.loginPassword" name="loginPassword" #loginPassword="ngModel" [minlength]="8" [maxlength]="30" required>

		  <!-- show error for loginPassword -->
  		   <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" class="alert alert-danger">
			  <div *ngIf="loginPassword.errors.required">
			    Password is required.
			  </div>
			  <div *ngIf="loginPassword.errors.maxlength">
			    Password must be not exceeds 50 characters.
			  </div>
			  <div *ngIf="loginPassword.errors.minlength">
		    	Password must be at least contains 8 characters.
			  </div>
			</div>
		  	<!-- ends here ~ show error for loginEmail -->
		</div>

	  <button class="btn btn-primary" class="form-control" [disabled]="!loginForm.valid">Login</button>

  	</form>
  	<!-- ends here ~ login form -->

  </div>
  <div class="tab-pane container fade" id="signup">
  	

  	<!-- signup form -->
  	<form [formGroup]="signupForm" (ngSubmit)="userRegistration(signupForm)" class="formSignup">
  		<div class="form-group">
		  <input name="fullName" formControlName="fullName" placeholder="John Doe" class="form-control" >

		  <!-- show error for fullName -->
  		   <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert alert-danger">
			  <div *ngIf="fullName.errors.required">
			    Name is required.
			  </div>
			  <div *ngIf="fullName.errors.minlength">
			    Name must be at least 2 characters long.
			  </div>
			  <div *ngIf="fullName.errors.maxlength">
			    Name must be not exceeds 30 characters.
			  </div>
			  <div *ngIf="fullName.errors.pattern">
			    Name is not Valid (Only Alphabetic Character & Space Allowed)
			  </div>
			</div>
		  <!-- ends here ~ show error for fullName -->

  		</div>
  		<div class="form-group">
  			<input formControlName="email" placeholder="johndoe@example.com" class="form-control" >
  			<!-- show error for email -->
	  		   <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
				  <div *ngIf="email.errors.required">
				    Email is required.
				  </div>
				  <div *ngIf="email.errors.maxlength">
				    Email must be not exceeds 30 characters.
				  </div>
				  <div *ngIf="email.errors.pattern">
			    	Email is Invalid. Please Provide Valid Email Address.
				  </div>
				</div>
		  	<!-- ends here ~ show error for email -->
  		</div>
  		<div class="form-group">
  			<input type="password" formControlName="password" placeholder="Choose Strong Password" class="form-control" >
  			<!-- show error for password -->
	  		   <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
				  <div *ngIf="password.errors.required">
				    Password is required.
				  </div>
				  <div *ngIf="password.errors.maxlength">
				    Password must be not exceeds 50 characters.
				  </div>
				  <div *ngIf="password.errors.minlength">
				    Password must be at least 8 characters long.
				  </div>
				</div>
		  	<!-- ends here ~ show error for password -->
  		</div>
  		<div class="form-group">
  			<input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" >
  			<!-- show error for Confirm Password -->
	  		   <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
				  <div *ngIf="confirmPassword.invalid">
				    Confirm Password and Password must be Same 
				  </div>
				</div>
		  	<!-- ends here ~ show error for Confirm Password -->
  		</div>

	  <button class="btn btn-primary" class="form-control" [disabled]="!signupForm.valid">Signup</button>
	  <!-- <button class="btn btn-primary" class="form-control">Signup</button> -->
	</form>
  	<!-- ends here ~ signup form -->
  </div>
</div>
<!-- ends here ~ form inside tabs -->
