<ul class="nav nav-tabs" id="sd">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#signup">Signup</a>
  </li>
</ul>


<!-- form inside tabs -->
<div class="tab-content">
  <div class="tab-pane container active" id="login">
  	<!-- login form -->
  	<!-- ends here ~ login form -->
  </div>
  <div class="tab-pane container fade" id="signup">
  	<!-- signup form -->
  	<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="formSignup">
  		<div class="form-group">
		  <input formControlName="fullName" placeholder="John Doe" class="form-control" >
  		</div>
  		<div class="form-group">
  			<input formControlName="email" placeholder="Your email" class="form-control" >
  		</div>
  		<div class="form-group">
  			<input type="password" formControlName="password" placeholder="Password" class="form-control" >
  		</div>
  		<div class="form-group">
  			<input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" >
  		</div>

	  <button type="submit" class="btn btn-primary">Send</button>
	</form>
  	<!-- ends here ~ signup form -->
  </div>
</div>
<!-- ends here ~ form inside tabs -->
